.page {
    background-color: #FAF9F6;
    padding: 15px 7%; 
} 
.communities {
    margin-bottom: 2vh;;
}
.topLargeWidget {
    background-color: #f5e6b8;
    padding: 1vw; 
    border-radius: 1em;
    /* max-width: 500vw; */
    min-width: 3vw;
    min-height: 22vh;
    margin-bottom: -30px;
}
.topLargeWidget2 {
    background-color: #f5e6b8;
    padding: 1vw; 
    border-radius: 1em;
    min-width: 250px;
    max-height: 100px;
    margin-bottom: -30px;
}
.bottomLargeWidget2 {
    background-color: #f5e6b8;
    padding: 1vw; 
    border-radius: 1em;
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    margin-top: 1vh;
}
.launchbutton:hover {
    background-color: #43350b;
}
.launchbutton2{
    margin-left: 2vh;
    margin-top: 2%;
    border-radius: 100%;
    background-color: #1b1b1b;
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    max-height: 300px;
    color: #FAF9F6;
}
.launchbutton2:hover {
    background-color: #43350b;

}
.bottomLargeWidget {
    background-color: #f5e6b8;
    padding: 1vw; 
    border-radius: 1em;
    min-width: 13vw;
    max-height: 4wh;
    
}
.bottomStyle {
    display: inline-flex;
}
.launchbutton {
    margin-left: 2vh;
    margin-top: 13%;
    border-radius: 100%;
    background-color: #1b1b1b;
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    max-height: 300px;
    color: #FAF9F6;
}
.largeName {
    font-size: 2vw;
    font-weight: bold;
    /* color: #FAF9F6; */
}
.largeName2 {
    font-size: 2vw;
    padding-top: 9vh;
    font-weight: bold;
}
.left {
    display: inline-flex;
}
.largeWidget {
    margin-right: 3vw;
} 
.bars {
    display: inline-flex;
}
.barsBottom {
    display: inline-flex;
    margin-top: 2vh;
}
.descrip {
    font-size: 15px;
    border-radius: 20px;
    background-color: #FAF9F6;
    text-align: center;
    width: auto;
    padding: 0.2vw;
    margin-right: 2%;
    opacity: 0.70;
    /* margin-right: 4px; */
}

/* FAF9F6 */ 
