.welcome {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 26px;
    margin-left: 3%;
}

.type-box {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    padding: 3%;
}

.input-text {
    bottom:0;
    padding: 0.5%;
    width: 90vw;
    margin-left: 3%;
    margin-bottom: 1%;
}

.plus {
    color: black;
    height: 30px;
}

.conversations{
    background-color: #f5e6b8;
    padding: 1vw; 

    /* //margin: 1em; */
    border-radius: 1em;
    /* max-height: 1000px; */
    min-width: 300px;
    min-height: 100px;
    margin-bottom: -30px;
    margin-left: 3vw;
    margin-right: 4vw;
    margin-top: 3vw;
}