.page {
    padding: 15px 7%; 

}
.expand {
    border-radius: 100%;
    background-color: #FAF9F6;
    border: 0;
    float: right;
    margin-right: 40px;
    margin-top: -100px;
}
/* .expand p {
    font-size: 50px;
} */
.welcome {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:black;
    font-size: 26px;
    margin-left: 3%;
    /* font-family: 'Roboto', sans-serif; */
}

.type-box {
    display: inline-flex;
    width: 100vh;
    height: 20vh;
    /* margin-bottom: 0vh; */
    /* position: absolute; */
    /* border-radius: 20px; */
    position: fixed;
    left: 20%;
    bottom: 0;
    align-items: center;
    /* padding: 15px 7%;  */
}

.typeSubject {
    margin-right: -15px;
    margin-top: -70px;
    padding: 1vh 1vw 1vh 1vw;
    /* margin-top: -4vh; */
    font-size: 13px;
    font-weight: bold;
    background-color: #FAF9F6;
    border-radius: 10px;
}

.cancel {
    /* float: right; */
    margin-left: -20px;
    margin-top: -50px;
    padding: 10px 15px 10px 15px;
    /* margin-top: -4vh; */
    font-size: 13px;
    font-weight: bold;
    background-color: #FAF9F6;
    border-radius: 100%;
}

.submit {
    margin-left: -60px;
    margin-top: 70px;
    padding: 1vh 1vw 1vh 1vw;
    /* margin-top: -4vh; */
    font-size: 13px;
    font-weight: bold;
    background-color: #FAF9F6;
    border-radius: 10px;
}

.cancel:hover {
    background-color: #fc5a52;
    color: #252524;
}

.submit:hover {
    background-color: #fa8fa2;
    color: #252525;
}

.input-text {
    min-width: 50vw;
    min-height: 7vh;
    /* bottom: 100px;; */
    padding: 1%;
    /* margin-left: 3%; */
    border-radius: 20px;
    /* overflow: scroll; */
}

.plus {
    color: black;
    height: 30px;
}

.conversations{
    background-color: #8ec7f8;
    padding: 1vw; 
    border-radius: 1em;
    /* max-height: 1000px; */
    /* display: inline-flex; */
    min-width: 300px;
    min-height: 100px;
    margin-bottom: -30px;
    margin-left: 3vw;
    margin-right: 4vw;
    margin-top: 3vw;
}

.show{
    background-color: #8ec7f8;
    padding: 1vw; 
    /* //margin: 1em; */
    border-radius: 1em;
    /* max-height: 1000px; */
    /* display: inline-flex; */
    min-width: 300px;
    min-height: 100px;
    margin-top: -7vh;
    /* margin-bottom: -30px; */
    margin-left: 5vw;
    margin-right: 4vw;
}
.show li {
    margin-top: 30px;
    padding-left: 2vh;
    list-style-type: none;
    /* margin-bottom: 1vh; */
}

.topic {
    display: block;
}
.title {
    display: block;
}
.add {
    float: right;
    margin-right: 3%;
    padding: 2vh;
    margin-top: -4vh;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Bold', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #FAF9F6;
    border-radius: 10px;
}
.add:hover {
    background-color: #27b45989;
}
.convoName {
    font-size: 20px;
    font-weight: bold;
    margin-top: 14px;
}
.controls {
    font-size: 40px;
    font-style: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* .org {
    color: 8ec7f8; 
    display: 
} */