*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* color: #252525; */
 }
 p {
  color: #252525;
 }
 h1 {
  color: #252525;
 }
 a {
  text-decoration: none;
  color: inherit;
 }
 .line {
    display: inline-flex;
 }
 .temp {
  margin-left: 5vw;

  padding: 15px 50px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  /* margin: 10px; */
  text-decoration: none;
  list-style-type: none;
  background-color: #FFFFFF;
  font-weight: bold;
 }
 .temp:hover {
  background-color: #000;
  color: #fff;
 }
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3%; 
  margin: 0;
  background-color: #FAF9F6;
}
.navbar ul {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  /* justify-content: space-between; */
}
.navbar ul li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  color: #000;
}
.navbar Link {
  color: #000;
}
.navbar button {
  background: #FAF9F6; 
  color: #000;
  /* padding: 12px 25px; */
  padding: 12px 17px;
  border: 2;
  outline: 0;
  border-radius: 100%;
  border-color: #000;
  /* font-size: 16px; */
  cursor: pointer;
}
.navbar button:hover {
  background-color: #000;
  color: #fff;
}
.container {
  /* display: flex; */
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 80vh;
  margin: 0;
}
.container h1{
  font-size: 70px;
  font-weight: 500;
}
.power {
  border-radius: 100%;
}
body {
  background-color: #faf9f6;
}
.appName {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #252525;
}
